.el-collapse-item__header {
    background-color: rgb(87, 9, 102) !important;
    color: #59b32f !important;
    padding: 0 0.5rem !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}